.bg_img {
    display: flex: run-in;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 1000px;

    background-image: url("keyboard.jpg");

}
.navbar-nav {

  text-align: center;
  > li {
    float: none;
    display: inline-block;

  }
}

.home_bg_img{
    background-image: url("piano.jpg");
    background-repeat: no-repeat;
}
.center {
  display: block;
  /* margin-left: auto;
  margin-right: auto; */
}

.container {
  position: relative;
  text-align: center;
  color: white;
}

/* Bottom left text */
.bottom-left {
  position: absolute;
  bottom: 8px;
  left: 16px;
}

/* Top left text */
.top-left {
  position: absolute;
  top: 8px;
  left: 16px;
}

/* Top right text */
.top-right {
  position: absolute;
  top: 8px;
  right: 16px;
}
.top-mid-left {
    position: absolute;
    top: 8px;
    left: 100px;
}

.top-mid-right {
    position: absolute;
    top: 8px;
    right: -100px;
}

/* Bottom right text */
.bottom-right {
  position: absolute;
  bottom: 4px;
  right: 248px;
}

.Bio {
  position: absolute;
  bottom: 32px;
  right: 248px;
}

.bottom-centered {
    position: absolute;
    bottom: 8px;
}

.right {
    position: absolute;
    right: 50%;
}

/* Centered text */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.top {
    position: absolute;
    top:-10px;
    left: 47%;
    bottom:16px;

}
.background-color{
    background-color: grey;
}
