{% extends 'base.html' %}

{% block content %}






<div class="w3-content w3-section center container" style="width: 1500px">

  <img class="mySlides center" src="static/piano.jpg" style="width: 100%">
  <div class="top-left text-secondary">SAMPLE HUB</div>
  <div class="centered">SAMPLE HUB Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
  <img class="mySlides center" src="static/guitar.jpg" style="width: 100%">
  <div class="bottom-left">FIND YOUR SOUND</div>
  <img class="mySlides center" src="static/trumpet3.jpg" style="width: 100%">
  <div class="container bottom-centered">
      <input type="text" placeholder="Search..">
  </div>

</div>

<script>
var myIndex = 0;
carousel();

function carousel() {
  var i;
  var x = document.getElementsByClassName("mySlides");
  for (i = 0; i < x.length; i++) {
    x[i].style.display = "none";
  }
  myIndex++;
  if (myIndex > x.length) {myIndex = 1}
  x[myIndex-1].style.display = "block";
  setTimeout(carousel, 2000); // Change image every 2 seconds
}
</script>


<div>
    <div class="row-md-6" style>
        <h3>Featured Artists</h3>
        <a href="/profile" class="container navbar-left"><img src="static/guitar_guy.jpg" class="img-thumbnail" style="width: 30%" style="margin: 10px"></a>

        <a href="/profile" class="navbar-left"><img src="static/trumpet.jpg" class="img-thumbnail" style="width:15%; height:30%"></a>
        <a href="/profile"class="navbar-left"><img src="static/cello.jpg" class="img-thumbnail" style="width:30%"></a>

</div>

<a class="btn btn-primary" href="/about.html" >Learn More</a> <a class="btn btn-secondary" href="/sign-in">Sign In</a>
    <!-- <div class="row">
  <div class="row">
    <a href="/profile" class="navbar-left"><img src="static/piano.jpg" style="margin: 10px"></a>
  </div>
    <div class="row">
    <a href="/profile" class="navbar-left"><img src="static/keyboard.jpg" style="margin: 10px"></a>
    </div>
    <div class="row"
    <a href="/profile" class="navbar-left"><img src="static/guitar.jpg" style="margin: 10px"></a>
    </div>
    <div class="row"
    <a href="/profile" class="navbar-left"><img src="static/piano.jpg" style="margin: 10px"></a>
    </div>
    <div class="row"
    <a href="/profile" class="navbar-left"><img src="static/keyboard.jpg" style="margin: 10px"></a>
    </div>
    <div class="row">
    <a href="/profile" class="navbar-left"><img src="static/guitar.jpg" style="margin: 10px"></a>
  </div>


</div> -->
</div>


</body>
</html>

{% endblock %}
