{% extends 'base.html' %}

{% block content %}
<div class="hero-background-img jumbotron text-center text-white bg-secondary">
        <h1>Sign up for Sample Hub</h1>
        <br>
    <div class="account-form">
    <div class="form jumbotron text-center text-dark bg-white container" style="width: 50vh">

        <input type="email" name="email" id="email" class="focus text-field" placeholder="Email" tabindex="1" size="45" autocomplete="off">
        <br>
        <br>

        <input type="password" name="password" id="email" class="focus text-field" placeholder="New Password" size="45" tabindex="1" autocomplete="off">
        <br>
        <br>
        <input type="password" name="password" id="email" class="focus text-field" placeholder="Confirm New Password" size="45" tabindex="1" autocomplete="off">

        <br>
        <br>
        <input type="password" name="password" id="email" class="focus text-field" placeholder="Name:" size="45" tabindex="1" autocomplete="off">
        <br>
        <br>
        <input type="password" name="password" id="email" class="focus text-field" placeholder="City" size="45" tabindex="1" autocomplete="off">
        <input type="password" name="password" id="email" class="focus text-field" placeholder="State/Provence" size="45" tabindex="1" autocomplete="off">
        <input type="password" name="password" id="email" class="focus text-field" placeholder="Country" size="45" tabindex="1" autocomplete="off">

        <br>
        <a href="#" class="btn btn-primary">SIGN UP</a>

    </div>

    <a class="text-white" href="#">Forgot password?</a> &middot; <a class="text-white" href="/sign-up">Don't have an account?</a> &middot; <a class="text-white" href="#">Privacy Policy</a>

<br>
<br>

{% endblock %}
